@import url("https://fonts.googleapis.com/css?family=Poppis:200,300,400,500,600,700,800,900&desplay=swap");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    text-decoration: none;
    box-shadow:border-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-size: 100%;
    list-style-type: none;
    background: #f0f8ff;
    overflow-x: hidden;
}

body.dark {
    background-color: #24292d;
}

body.dark main {
    background: #24292d;
}

body main .toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

body.dark main .toggle {
    background: #24292d;
}

body main .toggle:before {
    content: "\f186";
    font-family: fontAwesome;
    color: #2fa1ff;
}

body.dark main .toggle:before {
    content: "\f185";
    color: #fff;
}

.navbar {
    position: fixed;
    height: 60px;
    width: 100vw;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #154367;
    overflow: hidden;
    z-index: 1;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    padding: 15px;
    color: #fff;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.nav-top-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-right: 20px;
}

.nav-top-toggler:before {
    content: "\f0c9";
    font-family: fontAwesome;
    color: #ccc;
    font-size: 30px;
    font-weight: 900;
}

.nav-ul {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #ffffffb0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    height: 45px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    color: inherit;
}

.nav-top li.active::before {
    content: "";
    height: 45px;
    width: 20px;
    background-color: #154367;
    border-radius: 0px 0px 20px 0px;
}

body.dark .nav-top li.active {
    background: conic-gradient(#154367 0deg 90deg, #24292d 90deg 270deg, #154367 270deg 360deg);
}

.nav-top li.active {
    height: 45px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c5b80;
    background: conic-gradient(#154367 0deg 90deg, #f0f8ff 90deg 270deg, #154367 270deg 360deg);
}

.nav-top li.active::after {
    content: "";
    height: 45px;
    width: 20px;
    background-color: #154367;
    border-radius: 0px 0px 0px 20px;
}

.nav-top .nav-item:not(.active):hover {
    color: #dfedff;
}

.nav-top li.active .nav-link {
    background-color: #f0f8ff;
}

body.dark .nav-top li.active .nav-link {
    background-color: #24292d;
}

.nav-top .nav-link span {
    color: inherit;
}

@media(min-width: 992px){
    .nav-top-toggler {
        display: none;
    }
}

@media (max-width: 991px){
    .navbar {
        display: inline-block;
        height: auto;
    }

    .nav-header {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        height: 60px;
    }

    .nav-top {
        display: none;
    }

    .nav-top.active {
        display: flex;
    }

    .nav-top.active .nav-ul {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
    }

    .nav-top.active .nav-ul {
        width: 100vw;
        height: 150px;
    }

    .nav-top.active .nav-item {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 90vw;
        height: 45px;
    }

    .nav-top.active li.active:before {
        content: "";
        height: 20px;
        width: 100vw;
        background-color: #154367;
        border-radius: 0px 0px 20px 0px;
    }

    .nav-top.active li.active {
        flex-direction: column;
        display: flex;
        width: 100vw;
        height: 85px;
        color: #2c5b80;
        background: conic-gradient(#f0f8ff 0deg 180deg, #154367 180deg 360deg);
    }

    body.dark .nav-top li.active {
        background: conic-gradient(#24292d 0deg 180deg, #154367 180deg 360deg);
    }

    .nav-top.active li.active:after {
        content: "";
        height: 20px;
        width: 100vw;
        background-color: #154367;
        border-radius: 0px 20px 0px 0px;
    }

    .nav-top.active .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 45px;
        border-radius: 20px 0px 0px 20px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}
