@import url("https://fonts.googleapis.com/css?family=Poppis:200,300,400,500,600,700,800,900&desplay=swap");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    text-decoration: none;
    box-shadow:border-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-size: 100%;
    list-style-type: none;
    background: #f0f8ff;
}