@import url("https://fonts.googleapis.com/css?family=Poppis:200,300,400,500,600,700,800,900&desplay=swap");

*,
*:after,
*:before {
    margin: 0;
    padding: 0;

    text-decoration: none;
    box-shadow:border-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-size: 100%;
    list-style-type: none;
    background: #f0f8ff;
    overflow-x: hidden;
}

body.dark {
    background-color: #24292d;
}

body.dark main {
    background: #24292d;
}

body main .toggle {
    position: fixed;
    top: 13px;
    right: 10px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

body.dark main .toggle {
    background: #24292d;
}

body main .toggle:before {
    content: "\f186";
    font-family: fontAwesome;
    color: #2fa1ff;
}

body.dark main .toggle:before {
    content: "\f185";
    color: #fff;
}

.navbar {
    position: fixed;
    width: 100vw;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #154367;
    z-index: 100;
    overflow: hidden;
}

.nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    padding: 15px;
    color: #fff;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.nav-top-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-right: 20px;
}

.nav-top-toggler:before {
    content: "\f0c9";
    font-family: fontAwesome;
    color: #ccc;
    font-size: 30px;
    font-weight: 900;
}

.nav-ul {
    display: flex;
}

.selector{
	display:inline-block;
	position:absolute;
	background-color: #f0f8ff;
	/*transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}

.selector .right,
.selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #f0f8ff;
	bottom: 10px;
}

.selector .right{
	right: -25px;
}

.selector .left{
	left: -25px;
}

.selector .right:before,
.selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #154367;
}

.selector .right:before{
	bottom: 0;
    right: -25px;
}

.selector .left:before{
	bottom: 0;
    left: -25px;
}

body.dark main nav .nav-top ul .selector,
body.dark main nav .nav-top ul .selector .right,
body.dark main nav .nav-top ul .selector .left {
    background: #24292d;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: rgba(255, 255, 255, 0.69);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px;
    position: relative;
}

.nav-link:hover {
    color: #dfedff;
}

.nav-top ul li.active a{
    color: #2c5b80;
}

@media(min-width: 992px){
    .nav-top-toggler {
        display: none;
    }
}

@media (max-width: 991px){
    .navbar {
        display: inline-block;
    }

    .nav-header {
        width: 100vw;
    }

    .nav-top {
        display: none;
    }
    .nav-top.active {
        display: flex;
    }

    .nav-top.active ul{
        display: inline-block;
    }

    .nav-top.active ul li {
        width: 100vw;
    }

    .selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	.selector .left,
	.selector .right{
		right: 10px;
	}

	.selector .left{
		top: -25px;
		left: auto;
	}

	.selector .right{
		bottom: -25px;
	}

	.selector .left:before{
		left: -25px;
		top: -25px;
	}

	.selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}
