.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    transition: background 0.5s;
}

.main-content .logo img {
    margin-bottom: 20px;
    font-size: xxx-large;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #2fa1ff;
}

form {
    display: flex;
    align-items: center;
}

.main-content .search{
    position: relative;
    display: flex;
    width: 460px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    /*transition: 0.5s;*/
    box-shadow: 0 5px 30px #287dfc75;
    overflow: hidden;
}

body.dark main .main-content .search{
    background: #323840;
}

.search .input {
    position: absolute;
    width: 310px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.main-content .search .input input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    background: inherit;
}

body.dark main .main-content .search .input input {
    color: #fff;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}


form .icon {
    position: absolute;
    width: 60px;
    height: 60px;
    background: inherit;
    border-radius: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /*z-index: 1000;*/
    cursor: pointer;
    right: 0;
}

.search .icon::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #2fa1ff;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background: #2fa1ff;
    transform: translate(6px, 6px) rotate(315deg);
}

form .disabled{
    cursor: no-drop;
}


.main-content .navigation {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    transition: height 0.5s;
    transition-delay: 0s, 0.75s;
    border-radius: 60px;
    overflow: hidden;
}

body.dark main .main-content .navigation {
    background: #404852;
}

.navigation.active {
    height: 660px;
    transition: height 0.5s;
    transition-delay: 0s, 0.75s;
    z-index: 1;
}


.main-content form .main_ul {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: height 0.5s;
    transition-delay: 0s, 0.75s;
    z-index: 1;
    border-radius: 60px;
    overflow: hidden;

}

body.dark main .main-content form .main_ul {
    background: #404852;
    color: #ccc;
}

.navigation.active ul {
    position: absolute;
    left: 0;
    width: 100%;
}

form ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.main-content form ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #154367;
}

body.dark main .main-content form ul li a {
    color: #ccc;
}

body.dark form ul li a .title {
    color: #fff;
    background-color: #404852;
}
form ul li a .title {
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
    min-width: 60px;
    white-space: nowrap;
    font-weight: 600;
    color: #154367;
    background: #f0f8ff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form ul li a .title:hover {
    color: #fff;
    outline: none;
    background: #2fa1ff;
}

section  h6{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #154367;
}

body.dark main .main-content h6{
    color: #ccc;
}

@media(max-height: 765px) {
    .navigation.active {
        height: 70%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .navigation.active::-webkit-scrollbar {
        width: 5px;
    }

    .navigation.active::-webkit-scrollbar-thumb {
        background: #d6e8fe;
        border-radius: 30px;
    }

    body.dark .navigation.active::-webkit-scrollbar-thumb {
        background: #ccc;
    }

    .navigation.active::-webkit-scrollbar-track {
        margin: 20px;
    }
}

