@import url("https://fonts.googleapis.com/css?family=Poppis:200,300,400,500,600,700,800,900&desplay=swap");

* {
    margin: 0;
    padding: 0;
    box-shadow:border-box;
    font-family: "Poppins", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f8ff;
    flex-direction: column;
    transition: background 0.5s;
}

section.dark {
    background: #24292d;
}

/*LOGO*/

section .logo {
    margin-bottom: 20px;
    font-size: xxx-large;
    font-family: 'Lobster', cursive;
}

.sec .logo h1 {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #2fa1ff;
}

/*SEARCH*/
form {
    display: flex;
    align-items: center;
}

/*Sem box shadow no search, pq muda o lay out da ul quando sobe(se testar colocar de novo descomentar:
.patern.active e no .js a criacao da classe ative do do patern)*/
section .search{
    position: relative;
    display: flex;
    width: 460px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 5px 30px #287dfc75;
    overflow: hidden;
}

section.dark .search{
    background: #323840;
}

.search .input {
    position: absolute;
    width: 330px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

section .search .input input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    background: inherit;
}

section.dark .search .input input {
    color: #fff;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

/*button*/
form .icon {
    position: absolute;
    width: 60px;
    height: 60px;
    background: inherit;
    border-radius: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    right: 0;
}

.search .icon::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #2fa1ff;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search .icon::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    background: #2fa1ff;
    transform: translate(6px, 6px) rotate(315deg);
}

form .disabled{
    cursor: no-drop;
}


/*a respeito do reigion*/


section .navigation {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    transition: height 0.5s;
    transition-delay: 0s, 0.75s;
    border-radius: 60px;
    overflow: hidden;
}

section.dark .navigation {
    background: #404852;
}

.navigation.active {
    height: 660px;
    transition: height 0.5s;
    transition-delay: 0s, 0.75s;
    z-index: 1;
}


/*UL*/

section form .pattern {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f0f8ff;
    transition: height 0.5s;
    transition-delay: 0s, 0.75s;
    z-index: 1;
    border-radius: 60px;
    overflow: hidden;
}

section.dark form .pattern {
    background: #404852;
    color: #ccc;
}

.navigation.active ul {
    position: absolute;
    left: 0;
    width: 100%;
}


/*
.pattern.active {
    position: absolute;
    z-index: -1;
}
*/

form ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

section form ul li:hover {
    background: #2fa1ff;
}

section form ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #154367;
}

section.dark form ul li a {
    color: #ccc;
}


form ul li a .title {
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
    min-width: 60px;
    white-space: nowrap;
    font-weight: 600;
}

form ul li a .title:hover {
    color: #fff;
}

/*error message*/
section h6 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

section.dark h6 {
    color: #ccc;
}

/*TOGGLE*/
.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.dark .toggle {
    background: #404852;
}

.toggle:before {
    content: "\f186";
    font-family: fontAwesome;
    color: #2fa1ff;
}

section.dark .toggle:before {
    content: "\f185";
    color: #fff;
}