.main-content {
    position: relative;
    min-height:100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}

.main-content .card {
    position: relative;
    width: 300px;
    height: 389px;
    background: #fff;
    box-shadow: 0 5px 30px #287dfc75;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background 0.5s;
    flex-direction: column;
}

body.dark main .main-content .card {
    background: #323840;
}


.main-content .card .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content .card .main_text {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color: #2fa1ff;
    margin-top: 13px;
}

.main-content .card .title #end_season {
    margin: 10px 0;
}

.main-content .month:hover, .month:hover::before {
    content: "Meses";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(1);
    transition: 0.5s;
    color:#fff;
}

.main-content .day:hover, .day:hover::before {
    content: "Dias";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(1);
    transition: 0.5s;
    color:#fff;
}

.main-content .hour:hover, .hour:hover::before {
    content: "Horas";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(1);
    transition: 0.5s;
    color:#fff;
}


.main-content .card .content,
.main-content .card .img_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content .card .img_text .img_container {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
}

.main-content .card .img_text .img_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main-content .card .img_text h3 span {
    font-weight: 400;
    color: #777;
    font-size: 0.75em;
}

man.dark .main-content .card .img_text h3 span {
    color: #ccc;
}


.main-content .card .status_player {
    display: flex;
}

.main-content .card .solo_duo,
.main-content .card .flex {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    justify-content: center;
}

.main-content .card ul li {
    list-style: none;
}

.main-content .card .text_row {
    position: relative;
    color: #2fa1ff;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


.main-content .card .solo_duo .info_elo,
.main-content .card .flex .info_elo,
.main-content #end_season {
    position: relative;
    width: 120px;
    height: 50px;
    background: #e9f5ff;
    color: #2fa1ff;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
}

.main-content .card .solo_duo .info_elo .rank,
.main-content .card .flex .info_elo .rank {
    z-index: -1;
}


body.dark main .main-content .card .solo_duo .info_elo,
body.dark main .main-content .card .flex .info_elo,
body.dark main .main-content #end_season {
    background: #404852;
}


.main-content .card .solo_duo .info_elo:hover .rank,
.main-content .card .flex .info_elo:hover .rank {
    z-index: 1;
}

.main-content .card .solo_duo .info_elo img,
.main-content .card .flex .info_elo img {
    position: absolute;
    width: 55px;
}

.main-content .card .solo_duo .info_elo:hover img,
.main-content .card .flex .info_elo:hover img {
    z-index: -1;
}

.solo_duo .info_elo::before,
.flex .info_elo::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(0);
    transition: 0.5s;
    color:#fff

}

.main-content .card .solo_duo .info_elo:hover,
.main-content .card .flex .info_elo:hover {
    color:#fff
}

.main-content .card .solo_duo .info_elo:hover::before,
.main-content .card .flex .info_elo:hover::before {
    transform: scale(1);
}
