section {
    position: relative;
    background: #f0f8ff;
    min-height:100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}

section.dark {
    background: #24292d;
}

section .card {
    position: relative;
    width: 300px;
    height: 389px;
    background: #fff;
    box-shadow: 0 5px 30px #287dfc75;
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background 0.5s;
    flex-direction: column;
}

section.dark .card {
    background: #323840;
}

section .card .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .card .title #end_season {
    margin: 10px 0;
}

section .card .content,
section .card .img_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .card .main_text {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color: #2fa1ff;
    margin-top: 13px;
}

section .card .img_text .img_container {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
}

section .card .img_text .img_container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .card .img_text h3 span {
    font-weight: 400;
    color: #777;
    font-size: 0.75em;
}

section.dark .card .img_text h3 span {
    color: #ccc;
}

section .card .status_player {
    display: flex;
}

section .card .solo_duo,
section .card .flex {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    justify-content: center;
}

section .card ul li {
    list-style: none;
}

section .card .text_row {
    position: relative;
    color: #2fa1ff;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

section .card .solo_duo .info_elo,
section .card .flex .info_elo,
section #end_season {
    position: relative;
    width: 120px;
    height: 50px;
    background: #e9f5ff;
    color: #2fa1ff;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
}

section .card .solo_duo .info_elo .rank,
section .card .flex .info_elo .rank {
    z-index: -1;
}

section.dark .card .solo_duo .info_elo,
section.dark .card .flex .info_elo,
section.dark #end_season {
    background: #404852;
}


section .month:hover, .month:hover::before {
    content: "Meses";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(1);
    transition: 0.5s;
    color:#fff;
}

section .day:hover, .day:hover::before {
    content: "Dias";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(1);
    transition: 0.5s;
    color:#fff;
}

section .hour:hover, .hour:hover::before {
    content: "Horas";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(1);
    transition: 0.5s;
    color:#fff;
}

section .card .solo_duo .info_elo:hover .rank,
section .card .flex .info_elo:hover .rank {
    z-index: 1;
}

section .card .solo_duo .info_elo img,
section .card .flex .info_elo img {
    position: absolute;
    width: 40px;
}

section .card .solo_duo .info_elo:hover img,
section .card .flex .info_elo:hover img {
    z-index: -1;
}

.solo_duo .info_elo::before,
.flex .info_elo::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 30px;
    transform: scale(0);
    transition: 0.5s;
    color:#fff

}

section .card .solo_duo .info_elo:hover,
section .card .flex .info_elo:hover {
    color:#fff
}

section .card .solo_duo .info_elo:hover::before,
section .card .flex .info_elo:hover::before {
    transform: scale(1);
}

/*TOGGLE*/

.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f0f8ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.dark .toggle {
    background: #404852;
}

.toggle:before {
    content: "\f186";
    font-family: fontAwesome;
    color: #2fa1ff;
}

section.dark .toggle:before {
    content: "\f185";
    color: #fff;
}
