{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fseason.css') }}" media="screen">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="logo">
        <h1>FSeason</h1>
    </div>

    <form method="post">
        <div class="navigation">
            <ul>
                <li id="br">
                    <a href="#">
                        <span class="title">BR</span>
                    </a>
                </li>
                <li id="eun">
                    <a href="#">
                        <span class="title">EUN</span>
                    </a>
                </li>
                <li id="euw">
                    <a href="#">
                        <span class="title">EUW</span>
                    </a>
                </li>
                <li id="jp">
                    <a href="#">
                        <span class="title">JP</span>
                    </a>
                </li>
                <li id="kr">
                    <a href="#">
                        <span class="title">KR</span>
                    </a>
                </li>
                <li id="las">
                    <a href="#">
                        <span class="title">LAS</span>
                    </a>
                </li>
                <li id="lan">
                    <a href="#">
                        <span class="title">LAN</span>
                    </a>
                </li>
                <li id="na">
                    <a href="#">
                        <span class="title">NA</span>
                    </a>
                </li>
                <li id="oc">
                    <a href="#">
                        <span class="title">OC</span>
                    </a>
                </li>
                <li id="ru">
                    <a href="#">
                        <span class="title">RU</span>
                    </a>
                </li>
                <li id="tr">
                    <a href="#">
                        <span class="title">TR</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="search">
            <!--<div class="icon"></div>-->

            <div class="input">
                <input name="player_name" type="text" placeholder="Search" id="mysearch">
            </div>

            <span class="clear" onclick="getElementById('mysearch').value = '' "></span>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="static/js/region.js"></script>
{% endblock %}


