{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fseason.css') }}" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

{% endblock %}

{% block content %}
    <section id="s_black_light" class="">
        <div id="t_black_light" class="toggle"></div>

        <div class="logo">
            <img src="https://fontmeme.com/permalink/210525/1eeca4cd55b855ad7180993e8968e7bc.png" alt="FSeason" border="0">
        </div>

        <form method="post" autocomplete="off">
            <ul class="main_ul">
                <li id="main_li">
                    <a href="#">
                        <span class="title">BR</span>
                    </a>
                </li>
            </ul>

            <div class="navigation">
                <ul class="menu_region">
                    <li id="br">
                        <a href="#">
                            <span class="title">BR</span>
                        </a>
                    </li>
                    <li id="eun">
                        <a href="#">
                            <span class="title">EUN</span>
                        </a>
                    </li>
                    <li id="euw">
                        <a href="#">
                            <span class="title">EUW</span>
                        </a>
                    </li>
                    <li id="jp">
                        <a href="#">
                            <span class="title">JP</span>
                        </a>
                    </li>
                    <li id="kr">
                        <a href="#">
                            <span class="title">KR</span>
                        </a>
                    </li>
                    <li id="las">
                        <a href="#">
                            <span class="title">LAS</span>
                        </a>
                    </li>
                    <li id="lan">
                        <a href="#">
                            <span class="title">LAN</span>
                        </a>
                    </li>
                    <li id="na">
                        <a href="#">
                            <span class="title">NA</span>
                        </a>
                    </li>
                    <li id="oc">
                        <a href="#">
                            <span class="title">OC</span>
                        </a>
                    </li>
                    <li id="ru">
                        <a href="#">
                            <span class="title">RU</span>
                        </a>
                    </li>
                    <li id="tr">
                        <a href="#">
                            <span class="title">TR</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="search">
                <div class="input">
                    <input name="player_name" type="text" placeholder="Search" id="search">
                </div>

                <span id="clean"></span>

                <button id="submit" class="icon disabled" name="region" type="submit" value="br" disabled></button>
            </div>

        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h6>{{ message }}</h6>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </section>
{% endblock %}

{% block js %}
    <script src="static/js/fseason.js"></script>
    <script src="static/js/base.js"></script>
{% endblock %}

