{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}" media="screen" />
{% endblock %}

{% block content %}
    <section class="main-content">
        <div class="card">
            <div class="title">
                <h3 class="main_text">Final da Season</h3>
                <span id="end_season" class="{{ session['end_season']['type'] }}">{{ session["end_season"]["status"] }}</span>
            </div>

            <div class="content">

                <div class="img_text">
                    <div class="img_container">
                        <img src="{{ session['profile_icon'] }}" />
                    </div>

                    <h3 class="main_text">
                        {{ session["nickname"] }}<br/>
                        <span>Elo Atual</span>
                    </h3>

                </div>

                <div class="status_player">
                    <ul class="solo_duo">

                        <li class="text_row">
                            <span>Solo Duo</span>
                        </li>

                        <li class="info_elo">
                            <img src="{{ session['solo_duo_tier'] }}" />

                            {% if "Unranked" in session["solo_duo_rank"] %}
                                <span class="rank"> {{ session["solo_duo_rank"] }}</span>
                            {% else %}
                                <span class="rank">{{ session["solo_duo_rank"] }} - {{ session["solo_duo_lp"] }}pdl</span>
                            {% endif %}
                        </li>

                    </ul>

                    <ul class="flex">

                        <li class="text_row">
                            <span>Flex</span>
                        </li>

                        <li class="info_elo">
                            <img src="{{ session['flex_tier'] }}" />

                            {% if "Unranked" in session["flex_rank"] %}
                                <span class="rank"> {{ session["flex_rank"] }}</span>
                            {% else %}
                                <span class="rank">{{ session["flex_rank"] }} - {{ session["flex_lp"] }}pdl</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

