{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fseason.css') }}" media="screen">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}

{% block nav %}
    <nav class="navbar">

        <div class="nav-header">
            <a class="nav-logo">FS</a>
            <button class="nav-top-toggler" type="button" data-toggle="collapse" data-target="#nav-top" aria-controls="nav-top" aria-expanded="false" aria-label="Toggle navigation"></button>
        </div>

        <div class="nav-top">
            <ul class="nav-ul">
                <div class="selector">
                    <div class="left"></div><div class="right"></div>
                </div>
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:5000/lol">
                        <span>League of Legends</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/tft">
                        <span>Teamfight Tactics</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <section class="main-content">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/fseason/fslogo.png') }}" alt="FSeason" border="0">
        </div>

        <form method="post" autocomplete="off">
            <ul class="main_ul">
                <li id="main_li">
                    <a href="#">
                        <input id="region" class="title" name="region" value="BR">
                    </a>
                </li>
            </ul>

            <div class="navigation">
                <ul class="menu_region">
                    <li id="br">
                        <a href="#">
                            <span class="title">BR</span>
                        </a>
                    </li>
                    <li id="eun">
                        <a href="#">
                            <span class="title">EUN</span>
                        </a>
                    </li>
                    <li id="euw">
                        <a href="#">
                            <span class="title">EUW</span>
                        </a>
                    </li>
                    <li id="jp">
                        <a href="#">
                            <span class="title">JP</span>
                        </a>
                    </li>
                    <li id="kr">
                        <a href="#">
                            <span class="title">KR</span>
                        </a>
                    </li>
                    <li id="las">
                        <a href="#">
                            <span class="title">LAS</span>
                        </a>
                    </li>
                    <li id="lan">
                        <a href="#">
                            <span class="title">LAN</span>
                        </a>
                    </li>
                    <li id="na">
                        <a href="#">
                            <span class="title">NA</span>
                        </a>
                    </li>
                    <li id="oc">
                        <a href="#">
                            <span class="title">OC</span>
                        </a>
                    </li>
                    <li id="ru">
                        <a href="#">
                            <span class="title">RU</span>
                        </a>
                    </li>
                    <li id="tr">
                        <a href="#">
                            <span class="title">TR</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="search">
                <div class="input">
                    <input name="player_name" type="text" placeholder="Search" id="search">
                </div>

                <span id="clean"></span>

                <button id="submit" class="icon disabled" type="submit" name="game" value="lol" disabled></button>
            </div>

        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h6>{{ message }}</h6>
                {% endfor %}
            {% endif %}
        {% endwith %}

    </section>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/fseason/region.js') }}"></script>
{% endblock %}

